@import "tailwindcss";

@font-face {
    font-family: 'Neue Machina';
    src: url('./assets/Fonts/NeueMachina-PlainUltrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Neue Machina', sans-serif;
}

.notify-bg{
    background-image: url(../src/assets/images/png/notify-bg-img.png) !important;
}