@import "tailwindcss";

@font-face {
    font-family: 'courier New';
    src: url('../assets/fonts/cour.ttf');
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../assets/fonts/NeueMachina-Regular.otf');
}

@font-face {
    font-family: 'Neue Machin';
    src: url('../assets/fonts/PPNeueMachina-PlainRegular.otf');
}

body {
    font-family: 'Neue Machina';
}

.ff-courier {
    font-family: "Courier New";
}

.ff-neue {
    font-family: 'Neue Machina', sans-serif;
}

.notify-bg {
    background-image: url(../src/assets/images/png/notify-bg-img.png) !important;
}

